@model XRP.Models.Paged_ssmtbl_InquiryModel
@using XRP.Global;
@{

    ViewBag.Title = "AllEnquiry";
    ViewBag.Active = "Marketing";
    ViewBag.Feature = "Inquiry";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";

} 
     
    <div class= "paddingTop15">
        
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#EnquiryList" aria-controls="EnquiryList" role="tab" data-toggle="tab">Enquiry List</a></li>
            <li role="presentation">
                <a href="@Url.Action("NewInquiry", "Inquiry")" class=""> New Enquiry</a> 
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active paddingTop15" id="EnquiryList">
                @using (Html.BeginForm("AllInquiry", "Inquiry", FormMethod.Get, new { @class = " form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {

                <div class="clearfix  ">
                   
                    <div class="btn-toolbar pull-left" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">

                             
                            <div class="btn btn-default" style="    padding-bottom: 11px;">
                                <div class="form-check height20Pixel">
                                    <input class="form-check-input" id="selectAll" type="checkbox">
                                    <label class="form-check-label verticalAlignTop" for="selectAll">1</label>
                                </div>
                            </div>
                            <button class="btn btn-default" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Disqualify</button>

                            
                        </div>
                    </div>

                    <div class="btn-group pull-right">
                       
                        <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                     
                    <a class="btn btn-primary dropdown-toggle pull-right" href="@Url.Action("NewInquiry", "Inquiry")"><i class="fa fa-plus" aria-hidden="true"></i>  Enquiry</a>

                </div>
                    
                        <table class="table table-bordered table-striped Pad0" id="tbl_inquiry">
                            <thead>
                                 <tr>
                                    <th class="thHeader" style=" background-color: #e5ebef !important;">#</th>
                                    <th style=" background-color: #e5ebef !important;">Customer </th>
                                    <th style=" background-color: #e5ebef !important;">Die No  </th>
                                    <th style=" background-color: #e5ebef !important;">Quotation  </th>
                                    <th style=" background-color: #e5ebef !important;">Purchase Order  </th>
                                    <th style=" background-color: #e5ebef !important;">Status  </th>
                                    <th style=" background-color: #e5ebef !important;">Action </th>
                                </tr> 
                            </thead>
                            <tbody>
                                @foreach (var data in Model.ssmtbl_InquiryModel)
                                {

                                <tr>
                                    <th style="width:5px; "><input class="form-check-input" type="checkbox" id="one"></th>
                                    <td  >
                                        @data.customerName.Trim()  <br />

                                        <small>@data.InquiryDate.Date.ToString("dd-MMM-yyyy")</small> 
                                    </td>
                                    <td style="width:20px; "><strong>@data.DieNumber</strong></td>
                                    <td style="width:30px;">
                                        @if (data.Status == InquiryStatus.InquiryNew || data.Status == InquiryStatus.FeasibilityDone)
                                        {
                                            <div>
                                                <div>
                                                    <strong>@data.QuotationNo</strong>
                                                    <small>Version:0</small>
                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <strong>
                                                    <a href="@Url.Action("DownloadLatestQuotationFromQuotationNo", "Quotation")?InquiryNo=@data.InquiryNo" class="" title="Quotation Download">@data.QuotationNo</a>
                                                </strong>
                                            </div>
                                            <small>Version:@data.VersionNo</small>


                                        }
                                    </td>
                                    <td style="width:20px;">
                                        @if (@data.FilePath != "")
                                        {
                                            <a href="@data.FilePath" class="" title="PO Download" target="_blank">@data.customerPONo</a>
                                        }
                                        else
                                        {
                                            @data.customerPONo
                                        }
                                    </td>
                                    <td style="width:40px;">
                                        <small>@data.Status</small>
                                    </td> 
        

<td>
                                        <span class="r-3 badge2 badge1 badge-primary">
                                            @if (data.Status == InquiryStatus.InquiryNew)
                                            {<a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"> <i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="#" class="" title="Quotation"><i class="fa fa-file"></i></a>
                                                <a href="#" class="" title="Purchase Order"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.FeasibilityDone)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="#" class="" title="Purchase Order"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.QuotationPendingForApproval)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="#" class="" title="Purchase Order"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.ConditionalQuotationApproved)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("QuotationViewForApproval", "QuotationApproval")?QuotationId=@data.QuotationId" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="@Url.Action("NewPurchaseOrder", "PurchaseOrder")?QuotationId=@data.QuotationId" class="" title="Purchase Order" readonly="readonly"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.QuotationApproved)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="@Url.Action("NewPurchaseOrder", "PurchaseOrder")?QuotationId=@data.QuotationId" class="" title="Purchase Order" readonly="readonly"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.QuotationRejected)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="#" class="" title="Purchase Order"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.POApproved)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="@Url.Action("ViewOnePurchaseOrder", "PurchaseOrder")?InquiryNo=@data.InquiryNo" class="" title="View Purchase Order" readonly="readonly"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.PORejected)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="@Url.Action("ViewOnePurchaseOrder", "PurchaseOrder")?InquiryNo=@data.InquiryNo" class="" title="View Purchase Order" readonly="readonly"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                            @if (data.Status == InquiryStatus.POPendingForApproval)
                                            {
                                                <a href="@Url.Action("EditInquiry", "Inquiry")?id=@data.InquiryNo" class="" title="Edit Enquiry"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("CreateFeasibility", "Feasibility")?InquiryNo=@data.InquiryNo" class="" title="Feasibility"><i class="fa fa-share-alt  text-success"></i></a>
                                                <a href="@Url.Action("NewQuotation", "Quotation")?id=@data.InquiryNo" class="" title="Quotation"><i class="fa fa-file  text-yellow"></i></a>
                                                <a href="@Url.Action("ViewOnePurchaseOrder", "PurchaseOrder")?InquiryNo=@data.InquiryNo" class="" title="View Purchase Order" readonly="readonly"><i class="fa fa-shopping-cart text-danger"></i></a>
                                            }
                                        </span>
                                    </td>
                                </tr>


                                }
                            </tbody>
                        </table>
                    
                    

                }
            </div>


            <div role="tabpanel" class="tab-pane" id="NewEnquiry">
               
            </div>
        </div>
    </div>

    <link href="~/assets/asset/css/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#tbl_inquiry').DataTable({
                "ordering": true,
                "info": false,

            });

        });
    </script>

