@model XRP.Models.ssmtbl_InquiryModel
@{
    ViewBag.Title = "New Enquiry";
    ViewBag.Active = "Marketing";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}
<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />

<style>
    #btnSubmit {
        position: absolute;
        bottom: 4%;
        right: 10%;
    }

    #btnReset {
        position: absolute;
        bottom: 4%;
        right: 2%;
    }
</style>
@using (Html.BeginForm("NewInquiry", "Inquiry", FormMethod.Post, new { @class = "form-horizontal form-horizontal1", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.DieID, new { @id = "hdn_diedescid" })
    @Html.HiddenFor(model => model.InquiryNo, new { @id = "InquiryNo" })
    <div class="  paddingTop15">

        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation">
                <a href="@Url.Action("AllInquiry", "Inquiry")" class="" title="New Enquiry">Enquiry List</a>
            </li>
            <li role="presentation" class="active"><a href="#NewEnquiry" aria-controls="NewEnquiry" role="tab" data-toggle="tab">New Enquiry</a></li>

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active paddingTop15" id="EnquiryList">
                <div class="@ViewBag.HideClass" style="text-align:center">
                    @ViewBag.Message
                </div>
                @using (Html.BeginForm("AllInquiry", "Inquiry", FormMethod.Post, new { @class = " form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {

                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Enquiry</h5>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                Die Number :
                                            </span>

                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-btn">
                                                    @Html.TextBoxFor(model => model.DieNumber, null, new { @class = "form-control r-0 light s-12 " })
                                                    @Html.ValidationMessageFor(model => model.DieNumber, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                Customer Name :
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">
                                                    @Html.TextBoxFor(model => model.customerName, null, new { @class = "form-control r-0 light s-12", @id = "customerName", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.customerName, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.PartName, new { @class = "Label" })
                                            </span>

                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.PartName, null, new { @class = "form-control r-0 light s-12 " })
                                                    @Html.ValidationMessageFor(model => model.PartName, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.PartNo, new { @class = "Label" })
                                            </span>

                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.PartNo, null, new { @class = "form-control r-0 light s-12 " })
                                                    @Html.ValidationMessageFor(model => model.PartNo, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.InquiryDate, new { @class = "Label" })
                                            </span>

                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.InquiryDate, "{0:dd/MM/yyyy}", new { @class = "date-time-picker form-control r-0 light s-12" })
                                                    @Html.ValidationMessageFor(model => model.InquiryDate, null, new { @class = "alert-danger" })

                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.CustomerDrgNo, new { @class = "Label" })
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.CustomerDrgNo, null, new { @class = "form-control r-0 light s-12 " })
                                                    @Html.ValidationMessageFor(model => model.CustomerDrgNo, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.Qty, new { @class = "Label" })
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.Qty, null, new { @class = "form-control r-0 light s-12 ", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.Qty, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.FrequencyRepearOrder, new { @class = "Label" })
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">

                                                    @Html.DropDownListFor(model => model.FrequencyRepearOrder, ViewData["FreqRepeatOrder"] as IEnumerable<SelectListItem>,
      XRP.Global.DropDownSelection.DropDownSelect, new { @class = "form-control r-0 light s-12 .chzn-select", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.FrequencyRepearOrder, null, new { @class = "alert-danger" })

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                @Html.LabelFor(model => model.HSN, new { @class = "Label" })
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">

                                                    @Html.TextBoxFor(model => model.HSN, null, new { @class = "form-control r-0 light s-12 ", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.HSN, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-bold">
                                                Remark
                                            </span>
                                            <div class="input-group ">
                                                <span class="input-group-btn">


                                                    @Html.TextBoxFor(model => model.Remark, null, new { @class = "form-control r-0 light s-12 " })
                                                    @Html.ValidationMessageFor(model => model.Remark, null, new { @class = "alert-danger" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="button">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save changes</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                </div>
        </div>
    </div>


    <link href="~/assets/asset/css/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>

 

    <script type="text/javascript">
        $(document).ready(function () {

            document.body.style.overflow = 'hidden';
            $(function () {
                $('.date-time-picker').datetimepicker({
                    format: 'd/m/Y',
                    timepicker: false
                });
            });

            $("#customerName").autocomplete({
                source: function (request, response) {
                    var customer = new Array();
                    $.ajax({
                        url: "../Inquiry/getCustomername",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Text,
                                    Id: item.Value
                                }
                            }));
                        }
                    });
                },
                minLength: 1,
                change: function (event, ui) {
                    $(this).val((ui.item ? ui.item.label : ""));

                    if (ui.item == null) {
                        alert("Customer does not exist  Please add customer..!");
                        location.href = "../Customer/NewCustomer";
                    }

                }
            });
            $("#DieNumber").autocomplete({
                source: function (request, response) {
                    $("#customerName").val("");
                    $("#PartName").val("");
                    var customer = new Array();
                    $.ajax({
                        url: "../Inquiry/getDiaDetails",
                        type: "POST",
                        dataType: "json",
                        data: { DiaID: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Text,
                                    Id: item.Value
                                }
                            }));
                        }
                    });
                },
                minLength: 1,
                change: function (event, ui) {
                    // $(this).val((ui.item ? ui.item.label : ""));

                    if (ui.item == null) {
                        // alert("Die does not exist  Please add customer..!");

                        $("#customerName").removeAttr("readonly");
                        $("#PartName").removeAttr("readonly");
                        $("#hdn_diedescid").val("0");
                    }
                    else {
                        fetchdiadetails(ui.item.Id);
                    }

                }
            });
        });
        function fetchdiadetails(drpdia) {
            // var drpdia = $("#drp_dialist").val();
            if (drpdia != "") {
                $.ajax({
                    type: "POST",
                    url: "../Inquiry/fetchDiaDetails",
                    data: JSON.stringify({ dianumber: ' ' + drpdia + '' }),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        $("#customerName").val(data[0].Name);
                        // $("#customerName").attr("readonly", "readonly");
                        $("#PartName").val(data[0].PartName);
                        //  $("#PartName").attr("readonly", "readonly");
                        $("#hdn_diedescid").val(data[0].Id);
                    },
                    error: function (err) {

                        //alert(err);
                    }
                });

            }
        }
    </script>

}

