@model XRP.Models.Paged_ssmtbl_VendorPurchaseOrderModel
@using XRP.Models;
@{
    ViewBag.Title = "RequisitionList";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}

@using (Html.BeginForm("NewInquiry", "Inquiry", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="paddingLeft15 paddingTop15">


         
            <div role="tabpanel" class="tab-pane active paddingTop15" id="EnquiryList">
                <div class="@ViewBag.HideClass" style="text-align:center">
                    @ViewBag.Message
                </div>

                <form role="form">
                    <div class="animated   go">
                        <div class="row no-gutters">
                            <div class="col-md-3 white sticky" style="height:570px;">
                                <div class="sticky white">
                                    <ul class="nav nav-tabs nav-material">
                                        <li class="nav-item">
                                            <a class="nav-link p-3 active show" id="w2--tab1" data-toggle="tab" href="#w2-tab1">
                                                Purchase Requisitions <i class="icon-search" href="#modalGenerateRequisition" data-toggle="modal" data-target="#modalGenerateRequisition">+</i>
                                                <i class="icon-search" onclick="search();"></i><br />
                                                <input type="text" class="" id="txt_search" style="display:none;" />
                                            </a>
                                        </li>
                                        <li class="p-2 float-right"></li>

                                    </ul>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">

                                        <div>
                                            <div class="feed-activity-list">
                                                <ul>
                                                    <li class="feed-element" id="ullslistbind">


                                                    </li>
                                                </ul>
                                               

                                            </div>

                                          
                                        </div>

                                    </div>
                                    </div>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height:100px;">
                                        <div class="slimScroll" style="overflow: hidden; width: auto; height:400px;">

                                            <div class="tab-pane  show active slimScroll" id="w2-tab1" role="tabpanel" style="height:500px;" data-height="500px">

                                            </div>

                                        </div>
                                        <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.95); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 270.855px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>

                                </div>

                                <div class="col-md-6" id="div_reqdetails" style="display:none;">
                                    <div class="m-md-3">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <div class="card b-0 m-0">
                                                    <div class="card-body" style="height:550px;">
                                                        <div data-target="#message1">
                                                            <div class="media">
                                                                <img class="d-flex mr-3 height-50" src="../assets/img/dummy/u1.png" alt="Generic placeholder image">

                                                                <div class="media-body">
                                                                    <h6 class="mt-0 mb-1 font-weight-normal"><span id="spn_uname"></span></h6>
                                                                    <span id="spn_vtype"></span> Purchase Requisition # <strong><span id="spn_rqno"></span></strong>
                                                                    <br>
                                                                    <small><span id="spn_reqdate"></span></small>
                                                                    <div class="collapse my-3 show" id="message1">
                                                                        <div>
                                                                            <p></p>
                                                                            <p>
                                                                                Part # <span id="spn_partno"></span> <br>
                                                                                Description : <span id="spn_pdesc" style="display:none;"></span>
                                                                                <br>
                                                                                <span id="spn_desc"></span>

                                                                            </p>
                                                                            <div class="table-responsive slimScroll" style="height:200px;" data-height="200">
                                                                                <table id="tblitem" class="table" style="display:none;">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="display:none;">id</th>
                                                                                            <th>Desc</th>
                                                                                            <th>Material</th>
                                                                                            <th>Weight (KG)</th>
                                                                                            <th>Rate (Per KG)</th>

                                                                                            <th>Amt</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tbodytblitem"></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <center>

                                                                            </center>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </div>

                                        <div class="col-md-3" id="div_vendorlist" style="display:none;">

                                            <div class="card-body no-p">
                                                <div class="tab-content">
                                                    <div class="tab-pane animated fadeIn show active go" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-tab1">
                                                        <div class="bg-primary text-white lighten-2">
                                                            <div class="chartjs-size-monitor" style="left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; visibility: hidden; position: absolute; z-index: -1; pointer-events: none;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

                                                        </div>
                                                        <div class="card b-0 m-2">
                                                            <div class="slimScrollDiv" style="width: auto; height:560px; overflow: hidden; position: relative;">
                                                                <div>
                                                                    <div class="slimScroll b-b table-responsive" style="width: auto; height: 500px; overflow: hidden;" data-height="500">
                                                                        <table class="table table-hover earning-box" id="tbl_vlist">
                                                                            <thead class="no-b">
                                                                                <tr>
                                                                                    <th colspan="2">Vendor Name</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tbody_tblvlist"></tbody>
                                                                        </table>
                                                                    </div>

                                                                    <div class="float-left card-body" id="divtc" style="display:none;">
                                                                        <button type="button" value="Save" class="btn btn-primary btn-default btn-sm float-right" id="btntc" href="#" data-toggle="modal" data-target="#CommentForApproval" title="Term and Condition">
                                                                            <i class="icon-input"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="card-body float-right" id="div_rfq" style="display:none;">
                                                                        <button type="button" value="Save" class="btn btn-primary btn-default btn-sm" id="btn_Save" onclick="sendrfq()"><i class="icon-save mr-2"></i>Send RFQ</button>


                                                                    </div>


                                                                    <div class="card-body" align="right" id="div_gpo" style="display:none;">
                                                                        <button type="button" value="Save" class="btn btn-primary btn-default btn-sm" id="btn_Save1" onclick="generatepo()"><i class="icon-save mr-2"></i>Send PO</button>


                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                    </div>


                    <div class="modal fade" id="modalGenerateRequisition" tabindex="-1" role="dialog" aria-labelledby="modalGenerateRequisition" aria-hidden="true" style="display:none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content b-0">
                                <div class="modal-header r-0 bg-primary">
                                    <h6 class="modal-title text-white" id="exampleModalLabel">Purchase Requisition</h6>
                                    <a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle paper-nav-white active"><i></i></a>
                                </div>
                                <div class="modal-body no-p no-b">
                                    <div class="card-body">
                                     
                                            <div class="form-row">
                                                <div class="col-md-4 mb-0">
                                                    <label for="validationCustom01">Requisition Type</label>

                                                    <select class="form-control r-0 light s-12" id="drpRequisitionType" name="VPOTypeSelection[]">
                                                        <option value="0">-- Select --</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-8 mb-0">
                                                    <label for="drpRMRawMaterial" id="lblRMRawMaterial">Material</label>


                                                    <select class="form-control r-0 light s-12" id="drpRMRawMaterial">
                                                        <option value="0">-- Select --</option>
                                                    </select>
                                                    <input type="text" class="form-control r-0 light s-12" id="drpConsumables" style="display:none" />

                                                    <input type="text" class="form-control r-0 light s-12" id="drpOutSourcing" style="display:none" />


                                                    <input type="text" class="form-control r-0 light s-12" id="txtMaintence" style="display:none" />


                                                </div>


                                            </div>
                                            <div class="form-row" id="divProcess" style="display:none">
                                                <div class="col-md-12 mb-0">
                                                    <label for="txtProcess">Process</label>
                                                    <input type="text" class="form-control r-0 light s-12" id="txtProcess" />


                                                </div>
                                            </div>
                                            <div class="form-row" id="divSection" style="display:none">
                                                <div class="col-md-6 mb-0">
                                                    <label for="validationCustom05">Section</label>

                                                    <select class="form-control r-0 light s-12" id="drpRMSection">
                                                        <option value="0">-- Select --</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-6 mb-0">
                                                    <label for="DieNumber">Die Number</label>
                                                    <input id="drpDieNumber" type="text" class="form-control r-0 light s-12" onchange="fetchdiadetails(value)" />


                                                </div>
                                            </div>
                                            <div class="form-row" id="divQty">


                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom03">Quantity (Pieces)</label>
                                                    <input type="text" class="form-control r-0 light s-12" id="txtRMQuantity" oninput="calculateQtyTonne(value)">

                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom03">Quantity (Tonnes)</label>
                                                    <input type="text" class="form-control r-0 light s-12" id="txtRMQuantityTonnes" disabled>

                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-10 mb-3">
                                                    <label for="validationCustom03">Remark</label>

                                                    <textarea id="txtRMRemark" class="form-control r-0 light s-12 "></textarea>
                                                </div>

                                            </div>

                                       

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary l-s-1 s-12 text-uppercase" onclick="SendRequisition();" type="button">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="CommentForApproval" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover display" id="tbl_termcondition">

                                        <tbody id="tbltbody_termcondition">
                                            @{

                                                @Html.Hidden("TotalTermsNcondition", (ViewData["QuotaionTermsAndCondition"] as List<ssmtbl_LKP_TermsAndConditionModel>).Count());
                                            }
                                            @foreach (var item in ViewData["QuotaionTermsAndCondition"] as List<ssmtbl_LKP_TermsAndConditionModel>)
                                            {

                                                <tr>

                                                    <td style="width:5px">
                                                        @if (item.flag == true)
                                                        {
                                                            @Html.CheckBox("chk_termcondition", new { @id = "chk_termcondition_" + item.id, @value = item.id, @checked = "checked" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBox("chk_termcondition", new { @id = "chk_termcondition_" + item.id, @value = item.id })
                                                        }

                                                    </td>
                                                    <td>
                                                        @Html.TextArea("txt_termcondition", item.description, new { @class = "form-control r-0 light s-12", @Rows = "2", @id = "txt_termcondition_" + item.id })
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" id="btnSubmit" onclick="preventMultipleSubmissions()"><i class="icon-save mr-2"></i>Save</button>
                        <button type="reset" class="btn btn-success btn-sm" id="btnReset"><i class="icon-refresh mr-2"></i>Reset</button>


                    </div>

                </form>
            </div>
        </div>
    

}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Validations/JqueryUi.js"></script>

<script type="text/javascript">
    $(function () {
        $("#drpRequisitionType").change(function () {
            var selectedText = $(this).find("option:selected").text() == "-- Select --" ? "Material" : $(this).find("option:selected").text();
            $("#lblRMRawMaterial").text(selectedText);
            if (selectedText == "Consumables") {
                $("#divQty").show();
                $("#drpOutSourcing").hide();
                $("#drpRMRawMaterial").hide();
                $("#drpConsumables").show();
                $("#divSection").hide();
                $("#divProcess").hide();
                $("#txtMaintence").hide();
            }
            else if (selectedText == "Raw Material") {
                $("#divQty").show();
                $("#divProcess").hide();
                $("#drpRMRawMaterial").show();
                $("#drpConsumables").hide();
                $("#divSection").show();
                $("#lblRMRawMaterial").text("Raw Material Grade");
                $("#txtMaintence").hide();
                $("#txtRMQuantity").val("");
                $("#txtRMQuantityTonnes").val("");
                $("#drpOutSourcing").hide();
            }
            else if (selectedText == "Outsourcing") {
                $("#divQty").show();
                $("#divProcess").show();
                $("#drpOutSourcing").show();
                $("#drpRMRawMaterial").hide();
                $("#drpConsumables").hide();
                $("#divSection").hide();
                $("#txtMaintence").hide();
                $("#txtRMQuantity").val("");
                $("#txtRMQuantityTonnes").val("");
            }
            else if (selectedText == "Maintenance") {
                $("#divQty").hide();
                $("#divProcess").hide();
                $("#drpRMRawMaterial").hide();
                $("#txtMaintence").show();
                $("#drpOutSourcing").hide();
                $("#divSection").hide();
                //$("#drpDieNumber").hide();
            }
            else {

            }

            var selectedValue = $(this).val();

        });
    });
</script>
<script>
    function calculateQtyTonne(value) {
        $("#txtRMQuantityTonnes").val(parseFloat(value / 1000).toFixed(3));
        var GrossWeight = $("#hdnGrossWeight").val();
        var totalWt = value * GrossWeight;
        $("#hdntotalWt").val(totalWt);

    }
</script>
<script type="text/javascript">
    function generatepo() {
        $("#divtc").show();
        var parameters = new Array();

        $('#tbodytblitem tr').each(function () {
            var id = $(this).find("td").eq(0).text();
            var itemdcode = $(this).find("td").eq(1).text();
            var itemdesc = $(this).find("td").eq(3).text();
            var qty = $(this).find("td").eq(4).find(":text").val();
            var price = $(this).find("td").eq(5).find(":text").val();
            var unit = "KG";
            var amount = $(this).find("td").eq(6).text();
            var capstr = "^";
            if (qty == "") {
                alert("Please Enter weight in KG");
                return false;
            }
            if (price == "0" || price == "") {
                alert("Please Enter Rate Per KG");
                return false;
            }
            parameters.push(id, itemdcode, itemdesc, qty, price, unit, amount, capstr);
            var flag = "";
            var tcflag = "";
            var rfqid = $("#hdn_rfqid").val().trim();
            if (rfqid != "") {
                var remark = "-";
                //var remark = $("#txt_remark").val();
                //if (remark=="") {
                //    alert('Please Enter Remark');
                //    return false;
                //}
                var parentValueToPush = new Array();
                $('[name="chk_vendor"]').each(function () {
                    if ($(this).prop('checked') == true) {
                        vid = $(this).val();
                        parentValueToPush.push($(this).val());
                        flag = 1;

                    }
                    else {
                        //flag = 0;

                    }
                });

            }
            else {
                alert('Please Select RFQ');
                return false;
            }
            if (flag != 1) {
                alert('Please atleast one Vendor');
                return false;
            }
            $('[name="chk_termcondition"]').each(function () {
                if ($(this).prop('checked') == true) {

                    tcflag = 1;

                }
                else {
                    //flag = 0;

                }
            });
            if (tcflag != 1) {
                alert('Please select Term and Condition');
                return false;
            }

            $.ajax({
                type: "POST",
                url: "../PORequisition/pogenerate",
                // data: params,
                data: JSON.stringify({ rfqid: ' ' + rfqid + '', parentValueToPush: ' ' + parentValueToPush + '', remark: ' ' + remark + '', parameters: ' ' + parameters + '' }),
                contentType: "application/json;charset=utf-8",
                // dataType: "json",
                success: function (data) {
                    insertTermsNCondition(rfqid);
                    alert('Vendor PO Sent to Approval Successfully !!');
                    location.reload();

                },
                error: function (err) {
                    alert('Error occured');

                }
            });
        });
        //   console.log(parameters);




    }
    function sendrfq() {
        var flag = "";
        var rfqid = $("#hdn_rfqid").val().trim();
        $("#divtc").show();
        if (rfqid != "") {
            var remark = "-";
            // var remark = $("#txt_remark").val();
            //if (remark=="") {
            //    alert('Please Enter Remark');
            //    return false;
            //}
            var parentValueToPush = new Array();
            var vendorEmail = [];
            var vendorWithEmail = [];
            $('[name="chk_vendor"]').each(function () {
                if ($(this).prop('checked') == true) {

                    vid = $(this).val();
                    parentValueToPush.push($(this).val());
                    flag = 1;
                    vendorEmail.push($(this).closest('td').siblings().find('h4').text().trim());
                    //    vendorEmail={
                    //        vendorID:''+$(this).val()+'', vendorEmail:''+$(this).closest('td').siblings().find('h4').text().trim()+''

                    //}
                    //vendorWithEmail.push(vendorEmail);
                    //vendorEmail.push($(this).val(),$(this).closest('td').siblings().find('h4').text().trim());
                    // vendorEmail.push($(this).closest('td').siblings().find('h4').text().trim());
                }
                else {
                    //flag = 0;

                }
            });
        }
        else {
            alert('Please Select RFQ');
            return false;
        }
        if (flag != 1) {
            alert('Please at least one Vendor');
            return false;
        }
        console.log(vendorWithEmail);
        SendRFQMail(vendorEmail)
        return false;
        $.ajax({
            type: "POST",
            url: "../PORequisition/sendmultirfq",
            // data: params,
            data: JSON.stringify({ rfqid: ' ' + rfqid + '', parentValueToPush: ' ' + parentValueToPush + '', remark: ' ' + remark + '' }),
            contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {
                SendRFQMail(vendorWithEmail);
                //alert('Requisition Sent Successfully!!');
                //location.reload();

            },
            error: function (err) {
                alert('Error occured');

            }
        });


    }
    function SendRFQMail(vendorEmail) {
        var rfqid = $("#hdn_rfqid").val().trim();
        var tcflag = "";
        var tcArray = new Array();
        $('[name="chk_termcondition"]').each(function () {
            if ($(this).prop('checked') == true) {
                tcflag = 1;
                id = $(this).val();
                v1 = $(this).val();
                var chkid = "txt_termcondition_" + $(this).val();
                var tcdesc = $("#" + chkid).val();

                tcArray.push(tcdesc);
            }
            else {
                //flag = 0;

            }

        });
        console.log(tcArray);
        if (tcflag != 1) {
            alert('Please select Term and Condition');
            return false;
        }

        var vid = 0;
        var parameters = new Array();

        $('#tbodytblitem tr').each(function () {
            var id = $(this).find("td").eq(0).text();
            //var itemdcode = $(this).find("td").eq(1).text();
            var itemdesc = $(this).find("td").eq(3).text();
            //var qty = $(this).find("td").eq(4).find(":text").attr('placeholder');
            var qty = $(this).find("td").eq(4).find(":text").val() == '' ? $(this).find("td").eq(4).find(":text").attr('placeholder') : $(this).find("td").eq(4).find(":text").val();
            //var price = $(this).find("td").eq(5).find(":text").val();
            var price = "";
            var unit = "KG";

            //var amount = $(this).find("td").eq(6).text();
            var capstr = "^";
            parameters.push(id, itemdesc, qty, unit, price, capstr);
        })

        $.ajax({
            type: "POST",
            url: "../PORequisition/SendRFQMail",
            // data: params,
            data: JSON.stringify({ vendorWithEmail: ' ' + vendorEmail + '', parameters: '' + parameters + '', tcArray: '' + tcArray + '' }),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                insertTermsNCondition(rfqid);
                alert('Requisition Sent Successfully!!');
                location.reload();

            },
            error: function (err) {
                alert('Error occured');

            }
        });
    }

    $(document).ready(function () {

        bindCustomer();
        bindVPOType();
        bindRawMaterial();
        //bindConsumables();
        bindSection();
        //bindDie();
        bindDepartment();
        $("html").css("overflow", "hidden");

        //$("#tbl_AllVpo").on('click', 'tr', function (e) {
        //    var currentRow = $(this).closest("tr");
        //    var id = currentRow.find("td:eq(0)").text();
        //    id = id.trim();

        //    if (id != "") {
        //        $("#hdn_rfqid").val(id);
        //        fetchsinglelist(id);

        //    }

        //});
        var id = 0;
        fetchlist(id);
        //fetchitemlist(id);
        //fetchsinglelist(id);


    });
    function vendorbind(id) {

        $.ajax({
            type: "POST",
            url: "../PORequisition/Vendordrpbind",
            // data: params,
            data: JSON.stringify({ id: ' ' + id + '' }),
            contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {
                $("#tbody_tblvlist").empty();
                var tr = "";
                var tags = "";
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Tags == null) {
                        tags = "";
                    }
                    else {
                        tags = data[i].Tags;
                    }


                    tr = $('<tr class="mosurhandsymbol"/>');
                    //tr.append('<td class="w-10"><input type="checkbox" onclick="hideshowbtn()" name="" value="' + data[i].ID + '"</td>');
                    //tr.append('<td><h6>'+ data[i].Name +'</h6></td>');
                    tr.append('<td style="display:none;"><h4>' + data[i].Email + '</h4></td>');
                    tr.append('<td class="w-10"><div class="custom-control custom-checkbox mb-3" align="right"><input type="checkbox" onclick="hideshowbtn()" class="custom-control-input" onclick="hideshowbtn()" name="chk_vendor" value="' + data[i].ID + '"  id="' + data[i].ID + 'a" required=""><label class="custom-control-label" for="' + data[i].ID + 'a"></label> </div></td>');
                    tr.append('<td class=""><h6>' + data[i].Name + '</h6><small class="text-muted"><a title="' + tags + '">' + tags.substring(0, 30) + '</a></small><a aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown"><i class="icon-more_vert p-0"></i></a><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(169px, 98px, 0px);"><a class="dropdown-item" href="#">View Profile</a><a class="dropdown-item" href="#">Purchase History </a><a class="dropdown-item" href="#">Delivery Status </a><div class="dropdown-divider"></div><a class="dropdown-item" href="#">Block Vendor</a></div></td>');


                    $('#tbl_vlist').append(tr);
                }
                fetchitemlist(id);
            },
            error: function (err) {
                alert('Error occured');

            }
        });
    }
    function hideshowbtn() {
        var i = 0;
        $('[name="chk_vendor"]').each(function () {
            if ($(this).prop('checked') == true) {

                i++;

            }
            else {
                //flag = 0;

            }
        });
        if (i > 1) {
            $("#div_rfq").show();
            $("#divtc").show();
            $("#div_gpo").hide();
            $("#tblitem").show();
        }
        else {
            $("#div_rfq").hide();
            $("#divtc").show();
            $("#div_gpo").show();
            $("#tblitem").show();
        }
    }
    function fetchitemlist(id) {
        $('#tbodytblitem').empty();
        $.ajax({
            type: "POST",
            url: "../PORequisition/fetchitemlist",
            // data: params,
            data: JSON.stringify({ id: ' ' + id + '' }),
            contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {
                var tr = "";
                for (var i = 0; i < data.length; i++) {
                    tr = $('<tr class="mosurhandsymbol"/>');
                    //tr.append('<td>' + i + '</td>');
                    tr.append('<td style="display:none;">' + data[i].RfQItemId + '</td>');
                    tr.append('<td style="display:none;">' + data[i].ItemName + '</td>');
                    tr.append('<td>' + data[i].XSection + '</td>');
                    tr.append('<td>' + data[i].ReqTypeMaterial + '</td>');
                    tr.append('<td><input type="text" name="rate" class="Float-Number" placeholder="' + data[i].TotalWt + '" style="width:60px;" oninput="javascript:calrate(this);"></td>');
                    //tr.append('<td>' + data[i].Rate + '</td>');
                    tr.append('<td><input type="text" name="rate" class="Float-Number" value="' + data[i].Rate + '" style="width:60px;" oninput="javascript:calrate(this);"></td>');
                    //tr.append('<td>' + data[i].RatePerUnit + '</td>');
                    //   tr.append('<td><select id="unitper" name="unit" style="height:25px;"> <option value="NOs">Nos</option><option value="KG">KG</option><option value="Per Piece">Piece</option></select></td>');
                    tr.append('<td>' + data[i].Amount + '</td>');

                    $('#tblitem').append(tr);
                }

            },
            error: function (err) {
                alert('Error occured');

            }
        });
    }
    function insertTermsNCondition(status) {

        var rfqid = status;
        var v1 = "";
        var v2 = "";
        var flag = "true";
        $('[name="chk_termcondition"]').each(function () {
            if ($(this).prop('checked') == true) {
                id = $(this).val();
                v1 = $(this).val();
                var chkid = "txt_termcondition_" + $(this).val();
                var tcdesc = $("#" + chkid).val();

                $.ajax
                    ({
                        type: "POST",
                        url: "../PORequisition/InsertTermsNCondition",
                        // data: params,
                        data: JSON.stringify({
                            id, tcdesc, rfqid, flag
                        }),
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (status) {

                        },
                        error: function (err) {

                            // alert(err.message);
                        }
                    });

            }
        });

        //var str1 = v1.slice(0, -1);
        //if (str1 == "") {
        //    alert("Please select Term & condition");
        //    return false;
        //}




    }
    function calrate(textboxid) {
        var currentRow = $(textboxid).closest("tr");
        var qty = currentRow.find("td").eq(4).find(":text").val();
        var rate = currentRow.find("td").eq(5).find(":text").val();
        var totalamt = parseFloat(qty * rate);
        currentRow.find("td:eq(6)").text(totalamt.toFixed(2));
    }
    function fetchsinglelist(id) {
        $("#div_vendorlist").toggle();
        $("#div_reqdetails").toggle();
        $("#hdn_rfqid").val(id);
        $.ajax({
            type: "POST",
            url: "../PORequisition/BindsingleRfqList",
            // data: params,
            data: JSON.stringify({ id: ' ' + id + '' }),
            contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {
                $("#spn_uname").text(data[0].UserName);
                $("#spn_vtype").text(data[0].VendorType);
                $("#spn_rqno").text(data[0].ReqNo == "undefined" ? "NA" : data[0].ReqNo);
                $("#spn_reqdate").text(jsondateformatconvert(data[0].ReqDate));
                $("#spn_desc").text(data[0].Description);
                $("#spn_pdesc").text(data[0].ParrtDesc);
                $("#spn_partno").text(data[0].PartName);
                // fetchitemlist(id);
                vendorbind(id);

            },
            error: function (err) {
                alert('Error occured');

            }
        });
    }
    function jsondateformatconvert(jsondate) {

        var MyDate_String_Value = jsondate;
        var value = new Date
            (
            parseInt(MyDate_String_Value.replace(/(^.*\()|([+-].*$)/g, ''))
            );
        var date = value.getDate();
        if (date < 10) {
            date = "0" + date;
        } else {
            date = date;
        }
        var month = value.getMonth() + 1;
        if (month < 10) {
            month = "0" + month;
        } else {
            month = month;
        }
        var year = value.getFullYear();
        var hrs = value.getHours();
        var minutes = value.getMinutes();
        var sec = value.getSeconds();
        var day = value.getDay();

        var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

        var dayName = days[value.getDay()];
        var monthlist = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUNE', 'JULY', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
        var monthname = monthlist[value.getMonth()];
        //var d = new Date(dateString);
        //var dayName = d.toString().split(' ')[0];
        var result = "";
        var dat = date + " " + monthname;

        return dat;
    }
    function fetchlist(id) {
        $.ajax({
            type: "POST",
            url: "../PORequisition/BindRfqList",
            // data: params,
            data: JSON.stringify({ id: ' ' + id + '' }),
            contentType: "application/json;charset=utf-8",
            // dataType: "json",
            success: function (data) {

                var items = [];
                for (var i = 0; i < data.length; i++) {

                    items.push('<li class="media p-3 b-b has-hover mosurhandsymbol" onclick="fetchsinglelist(' + data[i].RfqID + ')"><img class="d-flex mr-3 height-50" src="../assets/img/dummy/u1.png" alt="Generic placeholder image"><div class="media-body text-truncate"><small class="float-right"><span>' + jsondateformatconvert(data[i].ReqDate) + '</span></small><h6 class="mt-0 mb-1 font-weight-normal">' + data[i].UserName + '</h6><span>' + data[i].VendorType + ' Purchase ... </span><br><small>Part# ' + data[i].PartName + '</small></div></li>');

                }
                $('#ullslistbind').append(items.join(''));
            },
            error: function (err) {
                alert('Error occured');

            }
        });
    }

</script>
<script>
    $("#drpOutSourcing").autocomplete({
        source: function (request, response) {

            var customer = new Array();
            $.ajax({
                url: "../Inquiry/getDiaDetails",
                type: "POST",
                dataType: "json",
                data: { DiaID: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Text,
                            Id: item.Value
                        }
                    }));
                }
            });
        },
        minLength: 1,
        change: function (event, ui) {
            if (ui.item == null) {
                // alert("Die Number Doesn't Exist !!");
            }
            else {
                fetchdiadetails(ui.item.Id);
            }
        }
    });
</script>
<script>
    $("#drpDieNumber").autocomplete({
        source: function (request, response) {

            var customer = new Array();
            $.ajax({
                url: "../Inquiry/getDiaDetails",
                type: "POST",
                dataType: "json",
                data: { DiaID: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Text,
                            Id: item.Value
                        }
                    }));
                }
            });
        },
        minLength: 1,
        change: function (event, ui) {
            if (ui.item == null) {
                // alert("Die Number Doesn't Exist !!");
            }
            else {
                fetchdiadetails(ui.item.Id);
            }
        }
    });
 
    function fetchdiadetails(drpdia) {

        if (drpdia != "") {
            $.ajax({
                type: "POST",
                url: "../Inquiry/fetchDiaDetails",
                data: JSON.stringify({ dianumber: ' ' + drpdia + '' }),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#hdnGrossWeight").val(data[0].GrossWeight);

                },
                error: function (err) {

                    //alert(err);
                }
            });

        }
    }
 
            function bindCustomer(){

                var stringArray = @Html.Raw(Json.Encode(@ViewData["Customer"]));

                $.each(stringArray, function (i, data) {      // bind the dropdown list using json result
                    $('<option>',
                       {
                           value: data.Id,
                           text: data.custname
                       }).html(data.BindType).appendTo("#customerName");
                });
            }
            function bindVPOType(){
                var stringArray = @Html.Raw(Json.Encode(@ViewData["VPOType"]));

                $.each(stringArray, function (i, data) {      // bind the dropdown list using json result
                    $('<option>',
                       {
                           value: data.Value,
                           text: data.Text
                       }).html(data.BindType).appendTo("#drpRequisitionType");
                });
            }
            function bindRawMaterial(){
                var stringArray = @Html.Raw(Json.Encode(@ViewData["RawMaterial"]));

                $.each(stringArray, function (i, data) {      // bind the dropdown list using json result
                    $('<option>',
                       {
                           value: data.Value,
                           text: data.Text
                       }).html(data.BindType).appendTo("#drpRMRawMaterial");
                });
            }

            function bindSection(){
                var stringArray = @Html.Raw(Json.Encode(@ViewData["Section"]));

                $.each(stringArray, function (i, data) {      // bind the dropdown list using json result
                    $('<option>',
                       {
                           value: data.Value,
                           text: data.Text
                       }).html(data.BindType).appendTo("#drpRMSection");
                });
            }


            function bindDepartment(){
                var stringArray = @Html.Raw(Json.Encode(@ViewData["Department"]));

                $.each(stringArray, function (i, data) {      // bind the dropdown list using json result
                    $('<option> ',  {
    value: data.DepartmentID,
    text: data.DepartmentName
    }).html(data.BindType).appendTo("#drpDepartment");
    });
    }
</script>
<script>
    $("#drpConsumables").autocomplete({
        source: function (request, response) {
            var Consumable = new Array();
            $.ajax({
                url: "../PORequisition/getConsumables",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return {
                            label: item.Text,
                            Id: item.Value
                        }
                    }));
                }
            });
        },
        minLength: 1,
        change: function (event, ui) {
            // $(this).val((ui.item ? ui.item.label : ""));

            if (ui.item == null) {
                // alert("Die does not exist  Please add customer..!");

                $("#customerName").removeAttr("readonly");
                $("#PartName").removeAttr("readonly");
                $("#hdn_diedescid").val("0");
            }
            else {
                fetchdiadetails(ui.item.Id);
            }

        }
    });
    $("#drpConsumables").autocomplete("option", "appendTo", ".eventInsForm");
</script>
<script>
    function SendRequisition() {
        var userID = $("#hdnUserID").val();
        var reqType = $('#drpRequisitionType option:selected').val();
        if (reqType == "0") {
            alert("Please Select Requisition Type !!");
            return false;
        }
        if (reqType == "1") {
            //var rawMaterial = $("#drpConsumables option:selected").val();
            //var consumable = $("#drpConsumables option:selected").text();
            var consumable = $("#drpConsumables").val();

            var quantity = $("#txtRMQuantity").val();
            if (quantity == "") {
                alert("Please Enter Quantity (Pcs) !!");
                return false;
            }

        }
        if (reqType == "2") {
            var rawMaterial = $("#drpRMRawMaterial option:selected").val();
            var consumable = $("#drpRMRawMaterial option:selected").text();
            if (rawMaterial == "0") {
                alert("Please Select Material !!");
                return false;
            }
            var section = $("#drpRMSection option:selected").val();
            if (section == "0") {
                alert("Please Select Section !!");
                return false;
            }
            var quantity = $("#txtRMQuantity").val();
            if (quantity == "") {
                alert("Please Enter Quantity (Pcs) !!");
                return false;
            }

        }
        if (reqType == "3") {
            //var rawMaterial = $("#drpOutSourcing option:selected").val();
            //var consumable = $("#drpOutSourcing option:selected").text();
            var consumable = $("#drpOutSourcing").val();
            var process = $("#txtProcess").val();
            if (process == "") {
                alert("Please Enter process !!");
                return false;
            }
            var quantity = $("#txtRMQuantity").val();
            if (quantity == "") {
                alert("Please Enter Quantity (Pcs) !!");
                return false;
            }

        }
        if (reqType == "4") {
            //var rawMaterial = $("#drpRMRawMaterial option:selected").val();
            //var consumable = $("#drpRMRawMaterial option:selected").text();
            var consumable = $("#txtMaintence").val();
            if (consumable == "") {
                alert("Please Enter Maintence !!");
                return false;
            }
        }

        var department = "";
        //var department=$("#drpDepartment option:selected").val();
        //if (department == "0") {
        //    alert("Please Select Department !!");
        //    return false;
        //}
        var customerName = "";
        //var customerName = $('#customerName option:selected').val();
        //if (customerName == "0") {
        //    alert("Please Select Customer Name !!");
        //    return false;
        //}
        var DieDescription = $("#drpDieNumber option:selected").val();
        if (DieDescription == "0") {
            alert("Please Select Die !!");
            return false;
        }
        var partName = "";
        //var partName = $("#txtRMPartName").val();
        //if (partName == "") {
        //    alert("Please Enter Part Name !!");
        //    return false;
        //}
        //var partNumber = $("#txtPartNumber").val();
        //if (partNumber == "") {
        //    alert("Please Enter Part Number !!");
        //    return false;
        //}
        var partNumber = "";
        if (consumable == "" || consumable == "0") {
            alert("Please Enter Material !!");
            return false;
        }
        var partDescription = $("#txtPartDescription").val();
        var workorderNo = $("#hdnwono").val();
        var remark = $("#txtRMRemark").val();
        var GrossWeight = $("#hdnGrossWeight").val();
        var totalWt = $("#hdntotalWt").val();
        var poid = $("#hdnpoid").val();
        //alert(workorderNo);

        $.ajax
            ({
                type: "POST",
                url: "../Workorder/SendRequisition",
                data: JSON.stringify({
                    ReqType: ' ' + reqType + '', CustomerName: ' ' + customerName + '', PartName: ' ' + partName + '',
                    partNumber: ' ' + partNumber + '', RawMaterial: ' ' + consumable + '', TotalWt: '' + totalWt + '',
                    Section: ' ' + section + '', Quantity: ' ' + quantity + '', DieDescription: '' + DieDescription + '',
                    PartDescription: ' ' + partDescription + '', WorkorderNo: '' + workorderNo + '', Remark: '' + remark + '',
                    poid: '' + poid + '', userID: '' + userID + '', Department: '' + department + ''
                }),
                contentType: "application/json;charset=utf-8",
                //dataType: "json",
                success: function (rfqid) {
                    if (rfqid != "0") {
                        insertRequisitionDetails(rfqid, rawMaterial, section, quantity, totalWt);
                    } else {
                        alert("Error Occured While Sending  Requisition !!");
                        return false;
                    }

                },
                error: function (err) {
                    alert("Error Occured While Sending  Requisition !!");
                    return false;
                }
            });
    }
    function insertRequisitionDetails(rfqid, rawMaterial, section, quantity, totalWt) {
        var Req = "Insert";
        $.ajax
            ({
                type: "POST",
                url: "../Workorder/insertRequisitionDetails",
                data: JSON.stringify({
                    RFQId: ' ' + rfqid + '', RawMaterial: ' ' + rawMaterial + '',
                    Section: ' ' + section + '', Quantity: ' ' + quantity + '', TotalWt: ' ' + totalWt + '',
                    Req: '' + Req + ''
                }),
                contentType: "application/json;charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $('#modalGenerateRequisition').modal('hide');
                    alert("Requisition Sent Successfully!");
                    location.href = "../PORequisition/PORequisitionList";
                },
                error: function (err) {
                    alert("Error Occured While Sending  Requisition !!");
                    return false;
                }
            });

    }
</script>
<script>
    $(document).on("keypress", "input[type=text].Float-Number", function (event) {
        //  $(".Float-Number").keypress(function (event) {
        ///For Positive float
        //if (isNaN(this.value + "" + String.fromCharCode(e.charCode)))
        //    return false;
        $(this).bind("cut copy paste", function (e) {
            e.preventDefault();
        });
        var value = $("#" + this.id).val();
        //    alert(event.which);
        var iKeyCode = (event.which) ? event.which : event.keyCode
        if (iKeyCode != 46 && iKeyCode != 09 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            //  alert("Enter Numbers Only");
            event.preventDefault();
            return false;
        }
        if (event.which < 45 || event.which > 58 || event.which == 47) {
            if (event.which != 8) {
                return false;
                event.preventDefault();
            }
        } // prevent if not number/dot

        if (event.which == 46 && value.indexOf('.') != -1) {
            return false;
            event.preventDefault();
        } // prevent if already dot

        if (event.which == 45 && value.indexOf('-') != -1) {
            return false;
            event.preventDefault();
        } // prevent if already dot

        if (event.which == 45 && value.length > 0) {
            event.preventDefault();
        } // prevent if already -

        return true;


    });
    function search() {
        $("#txt_search").show();
        var search = $("#txt_search").val();
        if (search != "") {
            $.ajax
                ({
                    type: "POST",
                    url: "../PORequisition/AllrequistionSearch",
                    data: JSON.stringify({
                        search: '' + search + ''
                    }),
                    contentType: "application/json;charset=utf-8",
                    //dataType: "json",
                    success: function (data) {

                        var items = [];
                        $('#ullslistbind li').remove();
                        for (var i = 0; i < data.length; i++) {

                            items.push('<li class="media p-3 b-b has-hover mosurhandsymbol" onclick="fetchsinglelist(' + data[i].RfqID + ')"><img class="d-flex mr-3 height-50" src="../assets/img/dummy/u1.png" alt="Generic placeholder image"><div class="media-body text-truncate"><small class="float-right"><span>' + jsondateformatconvert(data[i].ReqDate) + '</span></small><h6 class="mt-0 mb-1 font-weight-normal">' + data[i].UserName + '</h6><span>' + data[i].VendorType + ' Purchase ... </span><br><small>Part# ' + data[i].PartName + '</small></div></li>');

                        }
                        $('#ullslistbind').append(items.join(''));


                    },
                    error: function (err) {
                        // alert('Error occured');
                    }
                });

        }

    }
    function jsondateformatconvert(jsondate) {

        var MyDate_String_Value = jsondate;
        var value = new Date
            (
            parseInt(MyDate_String_Value.replace(/(^.*\()|([+-].*$)/g, ''))
            );
        var date = value.getDate();
        if (date < 10) {
            date = "0" + date;
        } else {
            date = date;
        }
        var month = value.getMonth() + 1;
        if (month < 10) {
            month = "0" + month;
        } else {
            month = month;
        }
        var year = value.getFullYear();
        var hrs = value.getHours();
        var minutes = value.getMinutes();
        var sec = value.getSeconds();
        var day = value.getDay();

        var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

        var dayName = days[value.getDay()];
        var monthlist = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUNE', 'JULY', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
        var monthname = monthlist[value.getMonth()];
        //var d = new Date(dateString);
        //var dayName = d.toString().split(' ')[0];
        var result = "";
        var dat = date + "-" + monthname + "-" + year;

        return dat;
    }
</script>
