@model XRP.Models.Paged_DieDescription
@using XRP.Global;
@{
    ViewBag.Title = "DieList";
    ViewBag.Active = "Master";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}
<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />

@using (Html.BeginForm("AddDie", "DieDescription", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", }))
{
    @Html.ValidationSummary(true)


        <!-- PAGE TITLE -->
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-database"></i>
                            Die List
                        </h4>
                    </div>
                </div>
                
            </div>

        </header>


                                <div  >
                                    
                                       
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="col-md-2">
                                                @Html.Label("Die No", new { @class = "Label" })
                                                @Html.TextBoxFor(model => model.DieNo, null, new { @class = "form-control r-0 light s-12 ", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.DieNo, null, new { @class = "alert-danger" })

                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Customer Name", new { @class = "Label" })
                                                @Html.TextBoxFor(model => model.CustomerName, null, new { @class = "form-control r-0 light s-12 ", @id = "customerName", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "alert-danger" })

                                            </div>
                                            <div class="col-md-3">
                                                @Html.Label("Part Name", new { @class = "Label" })
                                                @Html.TextBoxFor(model => model.PartName, new { @class = "form-control r-0 light s-12", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.PartName, null, new { @class = "alert-danger" })

                                            </div>
                                            <div class="col-md-2">
                                                @Html.Label("Cut-Weight", new { @class = "Label" })
                                                @Html.TextBoxFor(model => model.InternalCutWeight, null, new { @class = "form-control r-0 light s-12 ", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.InternalCutWeight, null, new { @class = "alert-danger" })

                                            </div>
                                            <div class="col-md-2">
                                                
                                                <button type="submit" class="btn btn-primary btn-sm"><i class="icon-save mr-2"></i>Save</button>
                                                <button type="reset" class="btn btn-success btn-sm"><i class="icon-refresh mr-2"></i>Reset</button>
                                            </div>
                                        </div>
                                        </div>
                                       


                                   

                                          
                                      
                                        @{ int rowNo = 0; }
                                        <table class="table table-striped table-hover" id="tbl_AllEditCustomer" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>
                                                        DIE NO
                                                    </th>
                                                    <th>CUSTOMER NAME</th>
                                                    <th>

                                                        PART NAME
                                                    </th>
                                                    <th>
                                                        CUT WEIGHT
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var data in Model.DieDescription)
                                                {
                                                    <a href="">
                                                        <tr>
                                                            <td>@(rowNo += 1)</td>
                                                            <td>
                                                                @data.DieNo
                                                            </td>
                                                            <td>
                                                                @data.CustomerName
                                                            </td>
                                                            <td>
                                                                @data.PartName
                                                            </td>
                                                            <td>
                                                                @data.InternalCutWeight
                                                            </td>

                                                        </tr>
                                                    </a>
                                                }
                                            </tbody>
                                        </table>

                                    
                                </div>


                                            }

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Content/Validations/JqueryUi.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#tbl_AllEditCustomer').DataTable({

                "ordering": true,
                "info": false
            });
            $("#customerName").autocomplete({
                source: function (request, response) {
                    var customer = new Array();
                    $.ajax({
                        url: "../Inquiry/getCustomername",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Text,
                                    Id: item.Value
                                }
                            }));
                        }
                    });
                },
                minLength: 1,
                change: function (event, ui) {
                    $(this).val((ui.item ? ui.item.label : ""));
                }
            });

        });

    </script>
                                            }

