@model XRP.Models.Paged_ssmtbl_CuutingCalculationModel
@using XRP.Global;
@{
    ViewBag.Title = "AllSection";
    ViewBag.Active = "Master";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}
@using (Html.BeginForm("AllGradeOfMaterial", "GradeOfMaterial", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
     <fieldset>
         <input type="hidden" id="hdn_srno" />
       
         
        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="card r-0 shadow">
                                <div class="table-responsive">
                                    <form action="">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <td>
                                                      
                                                        <label class="Label" for="Section">Section</label>
                                                    </td>
                                                    <td>
                                                        <input id="txt_grade" type="text" class="form-control r-0 light s-12" style="width:150px" />
                                                    </td>

                                                    <td>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="rd_dia" name="sec" class="custom-control-input">
                                                            <label class="custom-control-label m-0" for="rd_dia">Dia</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="rd_rcs" name="sec" class="custom-control-input">
                                                            <label class="custom-control-label m-0" for="rd_rcs">RCS</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="button" name="Save" value="Save" class="btn btn-primary btn-sm" id="btn_Save" />
                                                    </td>

                                                    <td width="35%">
                                                        

                                                    </td>

                                                </tr>
                                            </thead>
                                            @*<thead>
                                                <tr>
                                                    <td align="left" width="10%">
                                                  
                                                        <label class="Label" for="Section">Section</label>
                                                    </td>
                                                    <td align="left" width="25%">
                                                        <input id="txt_grade" type="text" class="form-control r-0 light s-12" style="width:150px" />

                                                    </td>
                                                    <td width="25%">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="rd_dia" name="sec" class="custom-control-input">
                                                            <label class="custom-control-label m-0" for="rd_dia">Dia</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="rd_rcs" name="sec" class="custom-control-input">
                                                            <label class="custom-control-label m-0" for="rd_rcs">RCS</label>
                                                        </div>
                                                      
                                                    </td>
                                                    <td width="25%">
                                                        <input type="button" name="Save" value="Save" class="btn btn-primary btn-sm" id="btn_Save" />
                                                      
                                                    </td>

                                                </tr>
                                            </thead>*@
                                        </table>
                                        <table class="table table-striped table-hover" id="tbl_gm" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No. </th>
                                                    <th>Section</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var data in Model.ssmtbl_CuutingCalculationModel)
                                                {
                                                    <tr>
                                                        <td>@data.id</td>
                                                        <td>@data.xsection</td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


                   

    </fieldset>

    @*<fieldset>

        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>SECTION</h2>
        </div>
        <input type="hidden" id="hdn_srno" />
        <div class="row">
            <div class="col-md-12">
                <!-- START DEFAULT DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">SECTION</h3>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <table class="table dataTable">
                                    <thead>
                                        <tr>
                                            <td><b>Section</b></td>
                                            <td>
                                                <input id="txt_grade" type="text" style="border-color:ghostwhite; width:150px;" />
                                            </td>
                                            <td>
                                                <input type="radio" id="rd_dia" value="Dia" name="sec" checked />Dia
                                                <input type="radio" id="rd_rcs" value="RCS" name="sec" />RCS
                                            </td>
                                            <td>
                                                <input type="button" name="Save" value="Save" class="btn btn-success btn-default" id="btn_Save" />

                                            </td>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="panel panel-default">
                        <div class="panel-body panel-body-table">
                            <div class="table-responsive">
                                <table class="table datatable" id="tbl_gm">
                                    <thead>
                                        <tr>
                                            <th>Sr. No. </th>
                                            <th>Section</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var data in Model.ssmtbl_CuutingCalculationModel)
                                        {
                                            <tr>
                                                <td>@data.id</td>
                                                <td>@data.xsection</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>*@
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script type="text/javascript">
        $('#tbl_gm tbody').on('click', 'td', function () {

            var currentRow = $(this).closest("tr");
            var srno = currentRow.find("td:eq(0)").text();
            var material = currentRow.find("td:eq(1)").text();
            var cc = material.match(/\d+/);

            $("#btn_Save").val("Update");
            $("#txt_grade").val(cc);
            $("#hdn_srno").text(srno);
            if (material.indexOf("Dia") != -1) {
                $("#rd_dia").prop("checked", true);
            }
            else if (material.indexOf("Rcs") != -1 || material.indexOf("RCS") != -1) {
                $("#rd_rcs").prop("checked", true);
            }


        });
    </script>
    <script type="text/javascript">
        $("#btn_Save").click(function () {
            SaveData();
        });
        function SaveData() {
            if ($('#btn_Save').val() == "Update") {
                if (($("#txt_grade").val() == "")) {
                    alert("Please fill all  fields");
                    return false;
                }
                else {
                    var srno = $("#hdn_srno").text();
                    var mg1 = ($("#txt_grade").val());
                    if ($("#rd_dia")[0].checked) {
                        secv = "Dia";
                    }
                    if ($("#rd_rcs")[0].checked) {

                        secv = "RCS";
                    }
                    var section = mg1 + " " + secv;

                    $.ajax
                                ({
                                    type: "POST",
                                    url: "../Section/UpdateSection",
                                    data: JSON.stringify({ srno: '' + srno + '', section: '' + section + '' }),
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    success: function (status) {
                                        alert("Section Updated Successfully");
                                        $("#txt_grade").val("");
                                        $("#btn_Save").val("Save");
                                        location.reload();
                                    },
                                    error: function (err) {
                                        alert('Error occured');

                                    }
                                });
                }
            }
            else {
                var un = $("#UN").val();
                if (($("#txt_grade").val() == "")) {
                    alert("Please fill all  fields");                 
                    return false;
                }
                else {
                    var mg1 = ($("#txt_grade").val());
                    if ($("#rd_dia")[0].checked) {
                        secv = "Dia";
                    }
                    if ($("#rd_rcs")[0].checked) {
                        secv = "RCS";
                    }
                    var section = mg1 + " " + secv;
                    $.ajax
                                ({
                                    type: "POST",
                                    url: "../Section/InsertSection",                                  
                                    data: JSON.stringify({ section: ' ' + section + '' }),
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    success: function (status) {                                      
                                        alert("Section Inserted Successfully");                                     
                                        $("#txt_grade").val("");
                                        $("#btn_Save").val("Save");
                                        location.reload();
                                    },
                                    error: function (err) {
                                        alert('Error occured');

                                    }
                                });
                }
            }

        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_gm').DataTable({

                "ordering": false,
                "info": false
            });
           

        });
    </script>
}
