@model XRP.Models.Paged_ssmtbl_VendorPurchaseOrderModel
<div class="container-fluid animatedParent animateOnce">
    <div class="tab-content my-3" id="v-pills-tabContent">
        <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card r-0 shadow">
                        <div class="table-responsive">

                            <div class="container-fluid text-white">
                                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#"   role="tab" data-toggle="tab" class="" title="Vendor">Purchase Order List</a>
                                    </li>
                                    <li role="presentation" ><a href="@Url.Action("Consumables", "VendorPurchaseOrder")" > New Vendor Purchase Order</a></li>
                                </ul>
                            </div>
                            <div class="panel panel-default">
                                
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover r-0">
                                            <thead>
                                                <tr>
                                                    <th>VENDOR PONo</th>
                                                    <th>QUOTATION <br />REF NO</th>
                                                    <th>VENDOR NAME</th>
                                                    <th>VALID DATE</th>
                                                    <th>STATUS</th>
                                                    <th>TYPE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var data in Model.ssmtbl_VendorPurchaseOrderModelList)
                                                {
                                                    <tr class="mosurhandsymbol">
                                                        <td>@data.po_no</td>
                                                        <td>@data.quotation_ref_no</td>
                                                        <td>@data.vendor_name</td>
                                                        <td>@data.valid_date.Date.ToString("dd-MMM-yyyy")</td>
                                                        <td>@data.vendor_po_status</td>
                                                        <td>@data.vendor_po_type</td>
                                                            </tr>
                                                }
                                            </tbody>
                                        </table> 
                                         
                                    </div>
                                </div>  
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .mosurhandsymbol {
        cursor: pointer;
    }
</style>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script src="~/Content/Validations/JqueryUi.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('tr').click(function () {
                var currentRow = $(this).closest("tr");
                var id = currentRow.find("td:eq(0)").text();
                id = id.trim();
                location.href = "../VendorPurchaseOrder/EditConsumables?id=" + id;

            });

        });
</script>
