@model XRP.Models.Paged_ssmtbl_VendorPurchaseOrderModel
@using XRP.Global;
@{
    ViewBag.Title = "All Vendor Purchase Order";
    ViewBag.Active = "Purchase";
    ViewBag.Active1 = "Vendor Purchase Order";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}

@using (Html.BeginForm("AllVendorPurchaseOrder", "VendorPurchaseOrder", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
<div class="paddingTop15">
   
    <div class="panel-body tab-content">
        <div class="tab-pane active" id="tab-first">
            @Html.Action("AllVPOConsumables")
        </div>
        <div class="tab-pane" id="tab-second">
            @Html.Action("AllVPORawMaterial")
        </div>
        <div class="tab-pane" id="tab-third">
            @Html.Action("AllVPOOutsourcing")
        </div>
        <div class="tab-pane" id="tab-fourth">
            @Html.Action("AllVPOMaintananceSpares")
        </div>
    </div>
     
</div>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script>
    
        function redirect(dropDownValue)
        {
            window.location.href = '/VendorPurchaseOrder/AllVendorPurchaseOrder/?_vendorPO_type=' + dropDownValue;
        }
        function OpenNewVPO() {
            //Determine the reference of the Row using the Button.
            var vpo_type_data = $('#vendor_po_type').val();
           
            if (vpo_type_data == "Consumables") {
                var conumables = '@Url.Action("Consumables", "VendorPurchaseOrder")';
                window.location.href = conumables;
            }
            else if (vpo_type_data == "Raw Material") {
                var rawMaterial = '@Url.Action("RawMaterial", "VendorPurchaseOrder")';
                window.location.href = rawMaterial;
            }
            else if (vpo_type_data == "Maintainance Spares") {
                var maintainanceSpares = '@Url.Action("MaintainanceSpares", "VendorPurchaseOrder")';
                window.location.href = maintainanceSpares;
            }
            else if (vpo_type_data == "Outsourcing") {
                var outsourcing = '@Url.Action("Outsourcing", "VendorPurchaseOrder")';
                window.location.href = Outsourcing;
            }
        };
        $(document).ready(function () {
            window.scrollTo(x - coord, y - coord);
        });
       
        $(".nav-link").click(function () {
            window.scrollBy(0, 50);//for scroll top
            window.scrollBy(0,-50);//for scroll down
        });
    </script>
}