@model XRP.Models.Paged_ssmtbl_CustomerModel
@using XRP.Global;
@{

    ViewBag.Title = "AllCustomer";
    ViewBag.Active = "Master";
    ViewBag.Feature = "Customer";
    ViewBag.FeatureAdd = "newADD";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";

}


 
<div class="paddingTop15">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active"><a href="#EnquiryList" aria-controls="EnquiryList" role="tab" data-toggle="tab">Customers  </a></li>
        <li role="presentation">
            <a href="@Url.Action("NewCustomer", "Customer")" class=""><b>New Customer</b></a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active paddingTop15" id="EnquiryList">
            @using (Html.BeginForm("AllCustomer", "Customer", FormMethod.Get, new { @class = " form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

            <div class="clearfix  ">

                <div class="btn-toolbar pull-left" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">


                        <div class="btn btn-default" style="    padding-bottom: 11px;">
                            <div class="form-check height20Pixel">
                                <input class="form-check-input" id="selectAll" type="checkbox">
                                <label class="form-check-label verticalAlignTop" for="selectAll">1</label>
                            </div>
                        </div>
                        <button class="btn btn-default" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Disqualify</button>

                        <button class="btn btn-default" type="button"><i class="fa fa-tag" aria-hidden="true"></i> Add tags</button>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More <!--span class="caret"></span--></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="btn-group pull-right">

                    <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
               
                <a class="btn btn-primary dropdown-toggle pull-right" href="@Url.Action("NewCustomer", "Customer")"><i class="fa fa-plus" aria-hidden="true"></i>  Add New</a>

            </div>


                
                    <table class="table table-bordered table-striped Pad0"  id="tbl_AllEditCustomer">

                        <thead>
                            <tr>
                                <th style="display:none;"> ID </th>
                                <th class="thHeader" style=" background-color: #e5ebef !important;">#</th>
                                <th style=" background-color: #e5ebef !important;">NAME </th>
                                <th style=" background-color: #e5ebef !important;">Telephone</th>
                                <th style=" background-color: #e5ebef !important;">ADDRESS</th>
                                <th style=" background-color: #e5ebef !important;">GST NO</th>
                                <th style=" background-color: #e5ebef !important;">PAN NO</th>

                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var data in Model.ssmtbl_CustomerModel)
                            {

                                <tr class="">
                                    <td style="display:none">
                                        @data.ID
                                    </td>

                                    <td>  <input class="form-check-input" type="checkbox" id="three"></td>
                                    <td>


                                        <div>

                                            @data.Name
                                        </div>

                                    </td>
                                    <td>@data.Telephone_No</td>
                                    <td>
                                        @data.Address
                                    </td>
                                    <td>@data.GSTNo</td>
                                    <td>@data.PANNo</td>
                                </tr>

                            }

                        </tbody>
                    </table>



                    }
            </div>
    </div>

</div>

    <style>
        .mosurhandsymbol {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script>


        var $j = jQuery.noConflict(true);

        function dispin(ids) {

            var currentRow = $(ids).closest("tr");
            var id = currentRow.find("td:eq(0)").text();


        }
        function dispout() {

        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_AllEditCustomer').DataTable({

                "ordering": false,
                "info": false
            });


            $('#tbl_AllEditCustomer tr').click(function () {
                var currentRow = $(this).closest("tr");
                var id = currentRow.find("td:eq(0)").text();
                id = id.trim();
                if (id != "") {
                    location.href = "@Url.Action("EditCustomer", "Customer")?id=" + id;
                }
                else {
                    location.href = "@Url.Action("AllCustomer", "Customer")";
                }

            });

        });
    </script>
    }
