@model XRP.Models.ssmtbl_CustomerModel

@{
    ViewBag.Title = "NewCustomer";
    ViewBag.Active = "Master";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}

<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />


@using (Html.BeginForm("NewCustomer", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <input id="hdn_id" type="hidden" />
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">

                <h4>
                    <i class="icon-database"></i>
                    Customer
                </h4>

                <div class="row justify-content-between">
                    <ul class="nav nav-material nav-material-white responsive-tab" id="v-pills-tab" role="tablist">
                        <li>
                            <a class="nav-link" href='@Url.Action("AllCustomer", "Customer")'><i class="icon icon-home2"></i> All Customers</a>
                            @*<a class="nav-link active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" role="tab" aria-controls="v-pills-all"><i class="icon icon-home2"></i>All Inquiry</a>*@
                        </li>
                        @*<li>
                                <a class="nav-link" id="v-pills-buyers-tab" data-toggle="pill" href="#v-pills-buyers" role="tab" aria-controls="v-pills-buyers"><i class="icon icon-face"></i> Buyers</a>
                            </li>
                            <li>
                                <a class="nav-link" id="v-pills-sellers-tab" data-toggle="pill" href="#v-pills-sellers" role="tab" aria-controls="v-pills-sellers"><i class="icon  icon-local_shipping"></i> Sellers</a>
                            </li>*@
                        <li class="float-right">
                            <a class="nav-link active" href='#'><i class="icon icon-plus-circle"></i> Add New Customer</a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <div class="@ViewBag.HideClass" style="text-align:center">
            @ViewBag.Message
        </div>
        <div class="container-fluid animatedParent animateOnce">
            <div class="animated fadeInUpShort">
                <div class="row my-3">
                    <div class="col-md-12">
                        <form action="#">
                            <div class="card no-b  no-r">
                                <div class="card-body">
                                    <div class="form-row mt-1">
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.Name, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control r-0 light s-12", @id = "txt_VendName" })
                                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })

                                        </div>
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.Telephone_No, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.Telephone_No, null, new { @class = "form-control r-0 light s-12", @id = "txt_phone", @onkeypress = "javascript:return isNumberKey (event)", @maxlength = "8" })
                                            @Html.ValidationMessageFor(model => model.Telephone_No, null, new { @class = "alert-danger" })


                                        </div>
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.PlaceofSupply, new { @class = "Label" })
                                                 @Html.DropDownListFor(model => model.PlaceofSupply, ViewData["StateCodeDrpDwn"] as IEnumerable<SelectListItem>
                                        ,
                                        XRP.Global.DropDownSelection.DropDownSelect, new { @class = ".chzn-select form-control r-0 light s-12" })
                                            @Html.ValidationMessageFor(model => model.PlaceofSupply, null, new { @class = "alert-danger" })
                                        </div>

                                    </div>
                                    <div class="form-row mt-1">
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.GSTNo, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.GSTNo, null, new { @class = "form-control r-0 light s-12", @id = "txt_VendName" })
                                            @Html.ValidationMessageFor(model => model.GSTNo, null, new { @class = "alert-danger" })

                                        </div>
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.PANNo, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.PANNo, null, new { @class = "form-control r-0 light s-12", @id = "txt_phone", @onkeypress = "javascript:return isNumberKey (event)", @maxlength = "8" })
                                            @Html.ValidationMessageFor(model => model.PANNo, null, new { @class = "alert-danger" })


                                        </div>
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.Remarks, new { @class = "Label" })
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control r-0 light s-12", @id = "txt_remark" })
                                            @Html.ValidationMessageFor(model => model.Remarks, null, new { @class = "alert-danger" })


                                        </div>

                                    </div>
                                    <div class="form-row mt-1">
                                        <div class="form-group col-4 m-0">

                                            @Html.LabelFor(model => model.Contact_Person, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.Contact_Person, null, new { @class = "form-control r-0 light s-12", @id = "txt_cperson" })
                                            @Html.ValidationMessageFor(model => model.Contact_Person, null, new { @class = "alert-danger" })
                                        </div>
                                        <div class="form-group col-4 m-0">
                                                @Html.LabelFor(model => model.Email_ID, new { @class = "Label" })
                                                @Html.TextBoxFor(model => model.Email_ID, null, new { @class = "form-control r-0 light s-12", @id = "txt_email" })
                                                @Html.ValidationMessageFor(model => model.Email_ID, null, new { @class = "alert-danger" })

                                        </div>
                                        <div class="form-group col-2 m-0">
                                            @Html.LabelFor(model => model.Mobile_No, new { @class = "Label" })
                                            @Html.TextBoxFor(model => model.Mobile_No, null, new { @class = "form-control r-0 light s-12", @id = "txt_mob", @onkeypress = "javascript:return isNumberKey (event)", @maxlength = "10" })
                                            @Html.ValidationMessageFor(model => model.Mobile_No, null, new { @class = "alert-danger" })

                                        </div>
                                        <div class="form-group col-2 m-0">
                                            <br />
                                            <button type="button" class=" btn btn-secondary btn-sm" value="Add" onclick="tbldataaddcp();"><i class="icon-add mr-2"></i>Add ContactDetils</button>
                                        </div>

                                        </div>
                                    <div class="form-row mt-1">
                                        <div class="form-group col-4 m-0">
                                            @Html.LabelFor(model => model.Address, new { @class = "Label" })
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control r-0 light s-12", @id = "txt_address" })
                                            @Html.ValidationMessageFor(model => model.Address, null, new { @class = "alert-danger" })
                                          
                                        </div>
                                        <div class="form-group col-4 m-0">
                                            <br />
                                            <button type="button" class="btn btn-secondary btn-sm" value="Add" onclick="tbldataaddaddress();"><i class="icon-add mr-2"></i>Add Address</button>

                                           
                                        </div>
                                        <div class="form-group col-3 m-0">

                                        </div>
                                        <div class="form-group col-1 m-0">
                                          

                                        </div>

                                    </div>
                                    <div class="form-row mt-1">
                                        <div class="form-group col-4 m-0">


                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mt-1">
                                    <div class="form-group col-12 m-0">
                                        <label class="Label" for="Contact_Details">Contact Details</label>
                                        <center>

                                        </center>
                                    </div>
                                </div>
                                <table>

                                    <tr>

                                        <td>
                                            <table id="tbl_insertdatacp" class="table table-striped table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Contact Person</th>
                                                        <th>Email</th>
                                                        <th>Mobile</th>
                                                      
                                                      
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbltbody_insertdatacp"></tbody>
                                            </table>
                                        </td>

                                    </tr>
                                </table>
                                <div class="card-body" align="right">
                                    <button type="button" value="Save" class="btn btn-primary btn-default btn-sm" id="btn_Save" onclick="SaveCustomerDetails();"><i class="icon-save mr-2"></i>Save</button>
                                    <button type="reset" name="Save" value="Reset" class="btn btn-success btn-default btn-sm" onclick="location.href = '@Url.Action("NewCustomer", "Customer")'"><i class="icon-refresh mr-2"></i>Reset</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="divwarn" class="warning">
                <label id="lbl_validation"></label>
            </div>
        </div>

    </fieldset>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script>
        var $j = jQuery.noConflict(true);
    </script>
    <script type="text/javascript">
        function SaveCustomerDetails()
        {
            var cname = document.getElementById('txt_VendName').value;
            var address = document.getElementById('txt_address').value;
            var city = document.getElementById('txt_city').value;
            var pin = document.getElementById('txt_pincode').value;
            // var sal = document.getElementById('txt_sal').value;
            var cperson = document.getElementById('txt_cperson').value;

            // var fax = document.getElementById('txt_fax').value;
            var email = document.getElementById('txt_email').value;
            // var vcode = document.getElementById('txt_vcode').value;
            var remark = document.getElementById('txt_remark').value;//txt_vcode

            if (cname == "") {

                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "Pease enter CustomerName";
                return false;
            }
            if (address == "") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "Pease enter address";
                return false;
            }
            if (city == "") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "Pease enter city";
                return false;
            }
            if (pin == "") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "Pease enter Pin";
                return false;
            }
            if (!pin.match(/^\d{6}$/)) {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "Pincode must be 6 digit number";
                return false;
            }

            //if (vcode == "") {
            //    document.getElementById("divwarn").style.display = "block";
            //    document.getElementById("lbl_validation").innerHTML = "Pease enter Vendorcode";
            //    return false;
            //}
            if (document.getElementById("btn_Save").value == "Save") {

                $.ajax
                       ({
                           type: "POST",
                           url: "../Customer/NewCustomer",
                           data: JSON.stringify({
                               cname: ' ' + cname + '', address: ' ' + address + '', city: ' ' + city + '',
                               pin: ' ' + pin + '', sal: ' ' - '', mob: '0', stdcode: '0',
                               phno: '0', fax: '0', vcode: ' ' + '0' + '', remark: ' ' + remark + ''
                           }),
                           contentType: "application/json;charset=utf-8",
                           dataType: "json",
                           success: function (status) {
                               insertcpinsidedb(status);
                               alert("Customer added successfully");
                               location.href = "@Url.Action("NewCustomer", "Customer")";
                           },
                           error: function (err) {
                               alert('Error occured');
                           }
                       });
            }
            else {
                var id = $("#hdn_id").text();


                $.ajax
                      ({
                          type: "POST",
                          url: "../Customer/UpdateCustomer",
                          data: JSON.stringify({
                              id: ' ' + id + '', cname: ' ' + cname + '', address: ' ' + address + '', city: ' ' + city + '',
                              pin: ' ' + pin + '', sal: ' ' - '', mob: '0', stdcode: '0',
                              phno: '0', fax: '0', vcode: ' ' + vcode + '', remark: ' ' + remark + ''
                          }),
                          contentType: "application/json;charset=utf-8",
                          dataType: "json",
                          success: function (update) {
                              insertcpinsidedb(update);
                              alert("Customer data updated successfully");
                          },
                          error: function (err) {
                              alert(err);
                          }
                      });

            }
        }

    </script>

    <script type="text/javascript">

        function tbldataaddcp() {
            var cperson = document.getElementById('txt_cperson').value;
            var email = document.getElementById('txt_email').value;
            var mob = document.getElementById('txt_mob').value;
           // var stdcode = document.getElementById('txt_stdcode').value;
            var phno = document.getElementById('txt_phone').value;
            var table = document.getElementById("tbltbody_insertdatacp");
            if (cperson == "") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "*Please Enter Contact Person";
                return false;
            }
            if (email == "") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "*Please Enter Email";
                return false;
            }
            else
            {
                var reg = (/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/);
                if (reg.test(email)) {
                    //alert("Valid");
                }
                else {
                    document.getElementById("divwarn").style.display = "block";
                    document.getElementById("lbl_validation").innerHTML = "*Please Enter a Valid Email ID";
                    return false;
                }
            }
            //if (stdcode == "" || stdcode == "0") {

            //    document.getElementById("divwarn").style.display = "block";
            //    document.getElementById("lbl_validation").innerHTML = "*Please Enter Std Code";
            //    return false;
            //}

            if (mob == "" || mob == "0") {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "*Please Enter Mobile Number";
                return false;
            }
            if (!mob.match(/^\d{10}$/)) {
                document.getElementById("divwarn").style.display = "block";
                document.getElementById("lbl_validation").innerHTML = "*Mobile Number must be 10 digit number";
                return false;
            }
            //if (phno == "" || phno == "0") {
            //    document.getElementById("divwarn").style.display = "block";
            //    document.getElementById("lbl_validation").innerHTML = "*Please Enter Phone Number";
            //    return false;
            //}
            //if (!phno.match(/^\d{8}$/)) {
            //    document.getElementById("divwarn").style.display = "block";
            //    document.getElementById("lbl_validation").innerHTML = "*Phone Number must be 8 digit number";
            //    return false;
           // }
            else { }

            var rowcount = table.rows.length;
            var row = table.insertRow(rowcount);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            //var cell5 = row.insertCell(4);
            
            var cpname = $('#txt_cperson').val();
            var emailid = $('#txt_email').val();
            var mob = $('#txt_mob').val();
            //var address = $('#txt_address').val();
          
            cell1.innerHTML = cpname;
            cell2.innerHTML = emailid;
            cell3.innerHTML = mob;
           // cell4.innerHTML = address;
           
            //<button id='btndelete' class='btndelete'  value='Delete' onclick='GetdeleteData(this);'> Delete </button>"
            cell4.innerHTML = "<input type='button'  id='btndelete' class='btndelete' onclick='GetdeleteData(this);' value='Delete'/>";
            $('#txt_cperson').val("");
            $('#txt_email').val("");
            $('#txt_mob').val("");
           // $('#txt_address').val("");
           
            document.getElementById("divwarn").style.display = "none";
        }
        function GetdeleteData(ids) {
            var par = $(ids).parent().parent();
            par.remove();

        }
        function isNumberKey(key) {
            var keycode = (key.which) ? key.which : key.keyCode;
            if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 47) {
                return false;
            }
            else return true;
        }
    </script>
    <script type="text/javascript">


        function insertcpinsidedb(id) {

            //var table = $("#tbltbody_insertdatacp");
            $j("#tbl_insertdatacp").find("tr:not(:first)").each(function (i) {
                // $("#tbl_insertdatacp").find("tbody:tr").each(function (i) {
                var currentRow = $(this).closest("tr");
                var cpname = currentRow.find("td:eq(0)").text();
                var email = currentRow.find("td:eq(1)").text();
                var mob = currentRow.find("td:eq(2)").text();
                var stdcode = currentRow.find("td:eq(3)").text();
                var phno = currentRow.find("td:eq(4)").text();

                //insert code here
                $.ajax({
                    type: "POST",
                    url: "../Vendor/InsertMultiCPerson",
                    // data: params,
                    data: JSON.stringify({ id: ' ' + id + '', cpname: ' ' + cpname + '', email: ' ' + email + '', mob: ' ' + mob + '', stdcode: ' ' + stdcode + '', phno: ' ' + phno + '' }),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (status) {

                    },
                    error: function (err) {
                        alert('Error occured');
                    }
                });
            });

        }

    </script>
}
