@model IEnumerable<XRP.Models.ssmtbl_WorkorderModel>
@using XRP.Global;
@{
    ViewBag.Title = "Material Approval List";
    ViewBag.Active = "My Approval";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}

@using (Html.BeginForm("WorkorderApprovalList", "WorkorderApproval", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)


    <div class="paddingLeft15 paddingTop15">

        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">

                    <div class="col-md-12">  
                        <div class="row"> 
                            <div class="panel panel-default">  
                                <div class="panel-body">
                                   
                                        <table class="table table-striped table-hover" id="tbl_AllEditCustomer" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th>Workorder No</th>
                                                    <th>Material</th>
                                                   
                                                    <th>TYPE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var data in Model)
                                                {
                                                    var WorkorderNo = data.WorkorderNo.ToString() == "undefined" ? "NA" : data.WorkorderNo;
                                                    var PartName = (data.PartName.ToString() == "undefined" || data.PartName.ToString() == "") ? "NA" : data.PartName;
                                                    var PartNo = (data.PartNo.ToString() == "undefined" || data.PartNo.ToString() == "") ? "NA" : data.PartNo;
                                                    var RawMaterial = (data.RawMaterial.ToString() == "undefined" || data.RawMaterial.ToString() == "") ? "NA" : data.RawMaterial;

                                                <tr class="mosurhandsymbol">
                                                    <td style="display:none;">@data.RfqID</td>
                                                    <td>@WorkorderNo</td>
                                                    <td>@RawMaterial</td>
                                                    <td>@data.Type</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div> 
    </div> 

    <style>
        .mosurhandsymbol {
            cursor: pointer;
        }
    </style>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <link href="~/NewCssAndTheme/FancyBox/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/NewCssAndTheme/FancyBox/jquery.fancybox.pack.js"></script>
    <script>
        var $j = jQuery.noConflict(true);


    </script>

    <script>

        $j('a.editVaccin').fancybox({
            'width': '70%',
            'height': '350',
            'autoScale': false,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'iframe',
            'overflow': 'auto',
            afterClose: function () { // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
                parent.location.reload(true);
            }
            //'modal': true
            //'href': '/Common/Lead/GetEnquiry?Id=' + id()
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_AllEditCustomer').DataTable({

                "ordering": false,
                "info": false
            });
            $('tr').click(function () {

                var currentRow = $(this).closest("tr");
                var id = currentRow.find("td:eq(0)").text();
                id = id.trim();
                location.href = "../RMRequisitionApproval/RMRequisitionApproval?RFQId=" + id;

            });

        });
    </script>

}