@model IEnumerable<XRP.Models.ssmtbl_QuotationModel>
@{
    ViewBag.Title = "All Quotation";
    ViewBag.Active = "My Approval";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}

@using (Html.BeginForm("QuotationList", "QuotationApproval", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
<div class="paddingTop15">
   
    
        <div class="ibox">
            <div class="ibox-title">
                <h5>Quotation List</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-striped table-hover" id="tbl_AllEditCustomer" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="display:none;">#</th>
                                    <th>CUSTOMER NAME</th>
                                    <th>ENQUIRY No</th>
                                    <th>QUOTATION No</th>
                                    <th>SUBMITTED BY</th>
                                    <th>SUBMITTED ON</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyQuoList">
                                @foreach (var data in Model)
                                {
                                    <tr class="editVaccin mosurhandsymbol">
                                        <td style="display:none;">@data.id</td>
                                        <td>@data.CustomerName</td>
                                        <td>@data.InquiryNo</td>
                                        <td>@data.QuotationNo</td>
                                        <td>@data.Createdby</td>
                                        <td>@data.CreatedOn.Date.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>



                    </div>
                </div>


            </div>
    </div>
</div>
     
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Validations/JqueryUi.js"></script>
    <link href="~/NewCssAndTheme/FancyBox/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/NewCssAndTheme/FancyBox/jquery.fancybox.pack.js"></script>
     
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_AllEditCustomer').DataTable({

                "ordering": false,
                "info": false
            });
            $('tr.editVaccin').click(function () {
                var currentRow = $(this).closest("tr");
                var id = currentRow.find("td:eq(0)").text();
                id = id.trim();
                location.href = "../QuotationApproval/QuotationViewForApproval?QuotationId=" + id;

            });

        });
    </script>
}
