@model XRP.Models.Paged_ssmtbl_DeliveryChallanModel
@using XRP.Global;
@{
    ViewBag.Title = "All Delivery Challan";
    ViewBag.Active = "Stock";
    ViewBag.Active1 = "Delivery Challan";
    Layout = "~/Views/Shared/_DesignLayout.cshtml";
}
<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />

    @Html.ValidationSummary(true)


<div class="paddingLeft15 paddingTop15">
    <div class="container-fluid animatedParent animateOnce">
        <div class="tab-content my-3" id="v-pills-tabContent">
            <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="card r-0 shadow">
                            <div class="table-responsive">
                                <div class="page-content-wrap">

                                    <form class="form-horizontal">

                                        <div class="panel panel-default tabs">

                                            <div class="panel-body tab-content">
                                                <div class="tab-pane active" id="tab-first">

                                                    @Html.Action("AllDCJobDispatch")
                                                </div>
                                                <div class="tab-pane" id="tab-second">
                                                    @Html.Action("AllDCOutsourcing")
                                                </div>
                                                <div class="tab-pane" id="tab-third">
                                                    @Html.Action("AllDCLabTesting")
                                                </div>
                                                <div class="tab-pane" id="tab-fourth">
                                                    @Html.Action("AllDCRepair")
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Content/Validations/JqueryUi.js"></script>
    <script>
        var $j = jQuery.noConflict(true);
        $j(document).ready(function () {
            var Dispatchno = "DC-0718-1";

            location.href = '@Url.Action("AllDCJobDispatch", "DeliveryChallan")';
        });
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
    </script>


    @*}*@
